In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import tree

In [2]:
df = pd.read_csv("Output/GigWrk.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,GIGWORK1_W19,RIDESHR_W19,GIGWORK2_A_W19,GIGWORK2_B_W19,GIGWORK2_C_W19,GIGWORK2_D_W19,GIGWORK2_E_W19,GIGWORK2REF_W19,GIGWORK3_W19,GIGWORK4_A_W19,...,EXTRAINC_C_W19,EXTRAINC_D_W19,EXTRAINC_E_W19,EXTRAINCREF_W19,TENURE_W19,F_AGECAT_FINAL,F_SEX_FINAL,F_RACECMB_RECRUITMENT,F_RACECMB_RECRUITMENT.1,F_INCOME_FINAL
0,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,1,1,1,7
1,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,6,2,2,1,1,9
2,2,2,0,0,0,0,0,0,0,0,...,0,0,1,0,6,3,2,3,3,7
3,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,5,2,2,5,5,5
4,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,6,3,2,1,1,8

In [3]:
df.columns

Index(['GIGWORK1_W19', 'RIDESHR_W19', 'GIGWORK2_A_W19', 'GIGWORK2_B_W19',
       'GIGWORK2_C_W19', 'GIGWORK2_D_W19', 'GIGWORK2_E_W19', 'GIGWORK2REF_W19',
       'GIGWORK3_W19', 'GIGWORK4_A_W19', 'GIGWORK4_B_W19', 'GIGWORK4_C_W19',
       'GIGWORK4_D_W19', 'GIGWORK4_E_W19', 'GIGWORK4_F_W19', 'GIGWORK4REF_W19',
       'GIGWORK5_W19', 'GIGWORK6_W19', 'INCCOUNT_W19', 'EXTRAINC_A_W19',
       'EXTRAINC_B_W19', 'EXTRAINC_C_W19', 'EXTRAINC_D_W19', 'EXTRAINC_E_W19',
       'EXTRAINCREF_W19', 'TENURE_W19', 'F_AGECAT_FINAL', 'F_SEX_FINAL',
       'F_RACECMB_RECRUITMENT', 'F_RACECMB_RECRUITMENT.1', 'F_INCOME_FINAL'],
      dtype='object')

In [4]:
new2_df=df.drop(columns=["GIGWORK2REF_W19", "GIGWORK4REF_W19", "EXTRAINCREF_W19","F_RACECMB_RECRUITMENT","F_RACECMB_RECRUITMENT.1","F_INCOME_FINAL"])
new2_df

,GIGWORK1_W19,RIDESHR_W19,GIGWORK2_A_W19,GIGWORK2_B_W19,GIGWORK2_C_W19,GIGWORK2_D_W19,GIGWORK2_E_W19,GIGWORK3_W19,GIGWORK4_A_W19,GIGWORK4_B_W19,...,GIGWORK6_W19,INCCOUNT_W19,EXTRAINC_A_W19,EXTRAINC_B_W19,EXTRAINC_C_W19,EXTRAINC_D_W19,EXTRAINC_E_W19,TENURE_W19,F_AGECAT_FINAL,F_SEX_FINAL
0,2,2,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,3,1
1,2,2,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,6,2,2
2,2,2,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,1,6,3,2
3,2,2,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,5,2,2
4,2,2,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,6,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3272,2,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,6,3,2
3273,2,2,0,0,0,0,0,0,0,0,...,0,2,1,0,0,0,0,5,1,2
3274,2,2,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,6,1,2
3275,2,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,5,2,2
3276,2,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,3,3,2

In [5]:
new2_df["F_SEX_FINAL"].value_counts()

2    1686
1    1591
Name: F_SEX_FINAL, dtype: int64

In [6]:
null_counts = new2_df.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
GIGWORK1_W19      0
RIDESHR_W19       0
GIGWORK2_A_W19    0
GIGWORK2_B_W19    0
GIGWORK2_C_W19    0
GIGWORK2_D_W19    0
GIGWORK2_E_W19    0
GIGWORK3_W19      0
GIGWORK4_A_W19    0
GIGWORK4_B_W19    0
GIGWORK4_C_W19    0
GIGWORK4_D_W19    0
GIGWORK4_E_W19    0
GIGWORK4_F_W19    0
GIGWORK5_W19      0
GIGWORK6_W19      0
INCCOUNT_W19      0
EXTRAINC_A_W19    0
EXTRAINC_B_W19    0
EXTRAINC_C_W19    0
EXTRAINC_D_W19    0
EXTRAINC_E_W19    0
TENURE_W19        0
F_AGECAT_FINAL    0
F_SEX_FINAL       0
dtype: int64

In [7]:
new2_df.dtypes.value_counts()

int64    25
dtype: int64

In [8]:
new2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3277 entries, 0 to 3276
Data columns (total 25 columns):
GIGWORK1_W19      3277 non-null int64
RIDESHR_W19       3277 non-null int64
GIGWORK2_A_W19    3277 non-null int64
GIGWORK2_B_W19    3277 non-null int64
GIGWORK2_C_W19    3277 non-null int64
GIGWORK2_D_W19    3277 non-null int64
GIGWORK2_E_W19    3277 non-null int64
GIGWORK3_W19      3277 non-null int64
GIGWORK4_A_W19    3277 non-null int64
GIGWORK4_B_W19    3277 non-null int64
GIGWORK4_C_W19    3277 non-null int64
GIGWORK4_D_W19    3277 non-null int64
GIGWORK4_E_W19    3277 non-null int64
GIGWORK4_F_W19    3277 non-null int64
GIGWORK5_W19      3277 non-null int64
GIGWORK6_W19      3277 non-null int64
INCCOUNT_W19      3277 non-null int64
EXTRAINC_A_W19    3277 non-null int64
EXTRAINC_B_W19    3277 non-null int64
EXTRAINC_C_W19    3277 non-null int64
EXTRAINC_D_W19    3277 non-null int64
EXTRAINC_E_W19    3277 non-null int64
TENURE_W19        3277 non-null int64
F_AGECAT_FINAL    3277 non-null int64
F_SEX_FINAL       3277 non-null int64
dtypes: int64(25)
memory usage: 665.6 KB

In [9]:
new2_df.to_csv("Output/cleaned_tree_gig.csv",index=False)

In [10]:
final_gig_df = pd.read_csv("Output/cleaned_tree_gig.csv")
final_gig_df

,GIGWORK1_W19,RIDESHR_W19,GIGWORK2_A_W19,GIGWORK2_B_W19,GIGWORK2_C_W19,GIGWORK2_D_W19,GIGWORK2_E_W19,GIGWORK3_W19,GIGWORK4_A_W19,GIGWORK4_B_W19,...,GIGWORK6_W19,INCCOUNT_W19,EXTRAINC_A_W19,EXTRAINC_B_W19,EXTRAINC_C_W19,EXTRAINC_D_W19,EXTRAINC_E_W19,TENURE_W19,F_AGECAT_FINAL,F_SEX_FINAL
0,2,2,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,3,1
1,2,2,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,6,2,2
2,2,2,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,1,6,3,2
3,2,2,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,5,2,2
4,2,2,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,6,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3272,2,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,6,3,2
3273,2,2,0,0,0,0,0,0,0,0,...,0,2,1,0,0,0,0,5,1,2
3274,2,2,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,6,1,2
3275,2,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,5,2,2
3276,2,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,3,3,2

In [11]:
#X=final_gig_df.drop("F_SEX_FINAL", axis=1)
#y=final_gig_df["F_SEX_FINAL"].values.reshape(-1, 1)

In [12]:
X=final_gig_df.loc[:,["F_AGECAT_FINAL", "TENURE_W19","INCCOUNT_W19"]]
y=final_gig_df["F_SEX_FINAL"].values.reshape(-1, 1)

In [13]:
print("Shape: ", X.shape, y.shape)

Shape:  (3277, 3) (3277, 1)

In [14]:

from sklearn.model_selection import train_test_split

### BEGIN SOLUTION

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
print(X_train.shape)
print(y_train.shape)

(2457, 3)
(2457, 1)

In [16]:
# Create and score a decision tree classifier
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [17]:
importances = clf.feature_importances_
importances

array([0.24213688, 0.39993872, 0.35792441])

In [18]:
prediction = clf.predict(X_test)

In [19]:
clf.score(X_test, y_test)

0.5329268292682927