In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
df = pd.read_csv("Output/2017_Health_PersonStats.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

    Unnamed: 0  AGE_P  SEX  PHSTAT  PLBORN  YRSINUS  CITIZENP  EDUC1
8            8     29    1       2       2      5.0         1     16
9            9     34    2       1       2      5.0         1     15
23          23     31    1       1       2      3.0         2     19
24          24     28    2       1       2      5.0         1     19
47          47     20    2       4       2      5.0         2     14

In [3]:
df.columns

Index(['Unnamed: 0', 'AGE_P', 'SEX', 'PHSTAT', 'PLBORN', 'YRSINUS', 'CITIZENP',
       'EDUC1'],
      dtype='object')

In [4]:
new2_df=df.drop(columns=["Unnamed: 0", "YRSINUS","PLBORN"])
new2_df

       AGE_P  SEX  PHSTAT  CITIZENP  EDUC1
8         29    1       2         1     16
9         34    2       1         1     15
23        31    1       1         2     19
24        28    2       1         1     19
47        20    2       4         2     14
...      ...  ...     ...       ...    ...
72768     63    2       1         1     21
72796     57    2       3         1     14
72811     68    1       2         1      5
72812     61    2       2         1     18
72826     49    2       4         2      5

[10855 rows x 5 columns]

In [5]:
new2_df["PHSTAT"].value_counts()

1    3398
2    3176
3    2918
4    1060
5     296
7       4
9       3
Name: PHSTAT, dtype: int64

In [6]:
indexNames = new2_df[new2_df['PHSTAT']==7].index

In [7]:
new2_df.drop(indexNames , inplace=True)

In [8]:
indexNames2 = new2_df[new2_df['PHSTAT']==9].index

In [9]:
new2_df.drop(indexNames2, inplace=True)

In [10]:
new2_df["PHSTAT"].value_counts(dropna=False)

1    3398
2    3176
3    2918
4    1060
5     296
Name: PHSTAT, dtype: int64

In [11]:
filterinfDataframe = new2_df[(new2_df['AGE_P'] > 25) & (new2_df['AGE_P'] < 39)]
filterinfDataframe

       AGE_P  SEX  PHSTAT  CITIZENP  EDUC1
8         29    1       2         1     16
9         34    2       1         1     15
23        31    1       1         2     19
24        28    2       1         1     19
94        26    2       1         2     17
...      ...  ...     ...       ...    ...
72652     33    1       3         2      0
72674     28    2       2         1     12
72749     38    2       3         1     15
72750     35    1       3         1     16
72758     32    2       2         2     18

[2365 rows x 5 columns]

In [12]:
null_counts = filterinfDataframe.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
AGE_P       0
SEX         0
PHSTAT      0
CITIZENP    0
EDUC1       0
dtype: int64

In [13]:
filterinfDataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2365 entries, 8 to 72758
Data columns (total 5 columns):
AGE_P       2365 non-null int64
SEX         2365 non-null int64
PHSTAT      2365 non-null int64
CITIZENP    2365 non-null int64
EDUC1       2365 non-null int64
dtypes: int64(5)
memory usage: 110.9 KB

In [14]:
filterinfDataframe.to_csv("Output/cleaned_logR_healthstats.csv",index=False)

In [15]:
final_healthstats_df = pd.read_csv("Output/cleaned_logR_healthstats.csv")
final_healthstats_df

      AGE_P  SEX  PHSTAT  CITIZENP  EDUC1
0        29    1       2         1     16
1        34    2       1         1     15
2        31    1       1         2     19
3        28    2       1         1     19
4        26    2       1         2     17
...     ...  ...     ...       ...    ...
2360     33    1       3         2      0
2361     28    2       2         1     12
2362     38    2       3         1     15
2363     35    1       3         1     16
2364     32    2       2         2     18

[2365 rows x 5 columns]

In [16]:
X=final_healthstats_df.drop("PHSTAT", axis=1)
y=final_healthstats_df["PHSTAT"].values.reshape(-1, 1)

In [17]:
print("Shape: ", X.shape, y.shape)

Shape:  (2365, 4) (2365, 1)

In [18]:

from sklearn.model_selection import train_test_split

### BEGIN SOLUTION

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [19]:
print(X_train.shape)
print(y_train.shape)

(1773, 4)
(1773, 1)

In [20]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
classifier.fit(X_train, y_train)

C:\Users\test\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\test\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\test\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.4077834179357022
Testing Data Score: 0.36824324324324326

In [23]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10]}")

First 10 Predictions:   [1 1 1 1 1 1 1 1 1 1]
First 10 Actual labels: [[2]
 [1]
 [3]
 [2]
 [3]
 [2]
 [2]
 [1]
 [1]
 [2]]